@charset "UTF-8";

:root {
  --font: "Roboto Condensed",Arial,sans-serif;
  --font2: "Inter",Arial,sans-serif;
  --font-size: 17px;
  --font-weight: 400;
  --line-height: 1.42;
  --container-width: 100%;
  --container-padding: 0 65px;
  --color-text: #232323;
  --color-bg: #ffffff;
  --color-link: #1b4ed1;
  --color-link-hover: #00166f;
  --transition: 0.5s;
  --header-height: 80px;
}

@font-face {
  font-family: "Roboto Condensed";
  src: local("Roboto Condensed Medium"),local("RobotoCondensed-Medium"),url("../fonts/RobotoCondensed-Medium.woff2") format("woff2"),url("../fonts/RobotoCondensed-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  src: local("Roboto Condensed"),local("RobotoCondensed-Regular"),url("../fonts/RobotoCondensed-Regular.woff2") format("woff2"),url("../fonts/RobotoCondensed-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: local("Inter Regular"),local("Inter-Regular"),url("../fonts/Inter-Regular.woff2") format("woff2"),url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: local("Inter Medium"),local("Inter-Medium"),url("../fonts/Inter-Medium.woff2") format("woff2"),url("../fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: local("Inter Bold"),local("Inter-Bold"),url("../fonts/Inter-Bold.woff2") format("woff2"),url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html {
  width: 100%;
  height: 100%;
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
:after,
:before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  font: inherit;
}

body {
  width: 100%;
  height: 100%;
  background: var(--color-bg);
  font-family: var(--font);
  color: var(--color-text);
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.wrapper__content {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.page {
  overflow: hidden;
  padding-top: var(--header-height);
}

.page__section {
  scroll-margin-top: var(--header-height);
}

.container {
  width: 100%;
  max-width: var(--container-width);
  padding: var(--container-padding);
  margin: 0 auto;
}

.content ul {
  padding-left: 40px;
}

.content ul li {
  list-style: disc;
}

.content h1 {
  font-size: 2.4em;
}

.content h2 {
  font-size: 2.2em;
}

.content h3 {
  font-size: 1.8em;
}

.content h4 {
  font-size: 1.4em;
}

.content h5 {
  font-size: 1.2em;
}

.content h6 {
  font-size: 1em;
  font-weight: 400;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6,
.content ol,
.content p,
.content ul {
  margin: 1em 0;
}

a {
  text-decoration: none;
  color: currentColor;
  outline: none;
}

a:hover {
  color: currentColor;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  color: inherit;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input,
textarea {
  border: none;
  background: none;
  outline: none;
  color: inherit;
}

.btn,
.main-banner__content a {
  width: 239px;
  height: 59px;
  background-color: #1b4ed1;
  color: #ffffff;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.btn:hover,
.main-banner__content a:hover {
  background-color: #153da4;
}

.link {
  --link-color: #1b4ed1;
  color: var(--link-color);
  font-size: 22px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.link a {
  color: var(--link-color);
  font-size: 22px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.link a span {
  color: var(--link-color);
}

.link a svg {
  display: block;
}

.link a svg path {
  stroke: var(--link-color);
}

.link--white {
  --link-color: #fff;
}

.ovh {
  overflow: hidden;
}

.form:before,
.h1,
.h2,
.h3,
.h4,
h1,
h2,
h3,
h4 {
  font-family: "Roboto Condensed",Arial,sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

.h1,
h1 {
  font-size: 55px;
  line-height: 120%;
}

.h2,
h2 {
  font-size: 45px;
  line-height: 120%;
}

.form:before,
.h3,
h3 {
  font-size: 28px;
  line-height: 130%;
}

.h4,
h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
}

.sub,
.txt,
.txt2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  color: #000000;
}

.txt {
  font-size: 17px;
  line-height: 140%;
}

.txt2 {
  font-size: 16px;
  line-height: 130%;
}

.sub {
  font-size: 20px;
  line-height: 130%;
}

.color-blue {
  color: #1b4ed1;
}

.text-border {
  opacity: 0.5;
  font-size: 90px;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-text-stroke: 1px #ffffff;
  -webkit-text-fill-color: transparent;
  line-height: 105%;
}

.header {
  background-color: var(--color-bg);
  -webkit-box-shadow: 0px 3px 6px rgba(0,0,0,0.05);
  box-shadow: 0px 3px 6px rgba(0,0,0,0.05);
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__logo {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: auto;
}

.header__nav {
  margin-right: 300px;
}

.header__nav.active {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.header__tel {
  margin-right: 120px;
}

.header__tel a {
  font-family: var(--font2);
  font-size: 27px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.header__tel a:hover {
  color: var(--color-link);
}

.header__contacts {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 180px;
  height: var(--header-height);
  background: var(--color-link);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: var(--color-bg);
  font-size: 20px;
  text-transform: uppercase;
}

.header__nav-open {
  display: none;
  width: 80px;
  height: var(--header-height);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}

.header__nav-open.active span:first-child {
  -webkit-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
}

.header__nav-open.active span:nth-child(2) {
  opacity: 0;
}

.header__nav-open.active span:nth-child(3) {
  -webkit-transform: translateY(-50%) rotate(-45deg);
  transform: translateY(-50%) rotate(-45deg);
}

.header__nav-open span {
  --margin: 4px;
  width: 20px;
  height: 1px;
  background: #000;
  position: absolute;
  left: 50%;
  margin-left: -10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.header__nav-open span:first-child {
  -webkit-transform: translateY(calc(-50% - var(--margin)));
  transform: translateY(calc(-50% - var(--margin)));
}

.header__nav-open span:nth-child(3) {
  -webkit-transform: translateY(calc(-50% + var(--margin)));
  transform: translateY(calc(-50% + var(--margin)));
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 45px;
}

.nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  text-transform: uppercase;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.nav__item:hover {
  color: var(--color-link);
}

.nav__item svg path {
  stroke: currentColor;
}

.main-banner {
  background-color: #f2f4f8;
  position: relative;
  height: 690px;
}

.main-banner__img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 49.4791666667%;
}

.main-banner__img img {
  position: absolute;
  z-index: 2;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.main-banner__animation {
  position: absolute;
  z-index: 1;
  left: -347px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.main-banner__container {
  width: 100%;
  height: 100%;
  max-width: var(--container-width);
  padding: var(--container-padding);
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-banner__content {
  max-width: 580px;
}

.main-banner__content h1 {
  font-size: 55px;
}

.main-banner__content h1,
.main-banner__content h2,
.main-banner__content h3,
.main-banner__content h4,
.main-banner__content h5,
.main-banner__content h6 {
  margin-bottom: 15px;
}

.main-banner__content p {
  font-family: var(--font2);
  max-width: 490px;
  font-size: 20px;
  margin-bottom: 35px;
  line-height: 130%;
}

.main-banner__content a {
  width: 288px;
}

.services {
  padding: 70px 0;
}

.services__title {
  margin-bottom: 55px;
}

.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 65px;
}

.services__item {
  width: 306px;
}

.service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.service__img {
  position: relative;
  z-index: 2;
}

.service__img img {
  width: 100%;
  aspect-ratio: 307/275;
}

.service__bottom {
  background-color: #f2f4f8;
  margin-left: -25px;
  margin-right: -25px;
  margin-top: -54%;
  padding: calc(54% + 25px) 25px 35px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.service__title {
  font-size: 21px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.service__txt {
  font-size: 13px;
  line-height: 140%;
}

.about {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 820px;
  grid-template-columns: 1fr 820px;
}

.about__left {
  height: 515px;
}

.about__left img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.about__right {
  background: var(--color-link) url("/images/content/about/bg.svg") right bottom no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 20px 90px;
  color: var(--color-bg);
}

.about__title {
  color: inherit;
  margin-bottom: 30px;
}

.about__txt {
  font-family: var(--font2);
  max-width: 460px;
  line-height: 140%;
}

.clients {
  padding-top: 80px;
  padding-bottom: 65px;
}

.clients__title {
  margin-bottom: 35px;
}

.clients__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 35px 1fr 35px 1fr;
  grid-template-columns: repeat(3,1fr);
  gap: 35px;
}

.clients__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #F2F4F8;
}

.form {
  background: #F2F4F8;
  width: 375px;
  padding: 50px 20px 60px;
  position: relative;
}

.form:before {
  content: "Мы скоро с Вами свяжемся!";
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #F2F4F8;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.form__close {
  position: absolute;
  top: 10px;
  right: 10px;
}

.form__title {
  font-size: 21px;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}

.form__fields {
  margin-bottom: 25px;
}

.form__accept {
  margin-bottom: 35px;
}

.form__submit {
  margin: 0 auto;
}

.form.sended:before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 25px;
}

.fields .fields__input {
  padding: 12px 0;
  color: #232323;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  border-bottom: 1px solid #d7d7d7;
  width: 100%;
}

.fields .fields__input:active,
.fields .fields__input:focus {
  border-color: #1b4ed1;
}

.fields .fields__input:active:invalid,
.fields .fields__input:focus:invalid {
  border-color: #e2353f;
}

.accept__input {
  display: none;
}

.accept__input:checked+.accept__fake .accept__check svg {
  display: block;
}

.accept__fake {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 15px;
}

.accept__check {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 23px;
  height: 23px;
  border: 1px solid #232323;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.accept__check svg {
  display: none;
}

.accept__content {
  font-family: Inter;
  font-size: 14px;
}

.accept__content a {
  color: #1b4ed1;
}

.popup {
  position: fixed;
  z-index: 100;
  background: rgba(0,0,0,0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.popup.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer {
  background-color: #1b4ed1;
  padding: 60px 0;
  color: #ffffff;
  position: relative;
}

.footer .container {
  max-width: 1440px;
  padding: 0 20px;
}

.footer__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(4,1fr);
  grid-template-areas: "logo menu contacts addr";
  gap: 20px;
}

.footer__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer__col:first-child {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
}

.footer__col:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: menu;
}

.footer__col:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: contacts;
}

.footer__col:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
  grid-area: addr;
}

.footer__logo a {
  display: block;
}

.footer__title {
  color: currentColor;
  margin-bottom: 10px;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 10px;
}

.footer__link {
  font-family: Inter;
  font-size: 16px;
  text-decoration: underline;
}

.footer .footer__email a,
.footer .footer__tel a,
.footer__email .footer a,
.footer__tel .footer a {
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
}

.footer__tel {
  margin-bottom: 5px;
}

.footer__addr {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
}

/*# sourceMappingURL=style.css.map */

@media (max-width:1919.98px) {
  :root {
    --container-padding: 0 130px;
  }

  .header__nav {
    margin-right: 60px;
  }

  .header__tel {
    margin-right: 40px;
  }

  .main-banner {
    height: 720px;
  }

  .main-banner__container {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-top: 100px;
  }

  .main-banner__content h1 {
    font-size: 45px;
    margin-bottom: 30px;
  }

  .services__list {
    gap: 40px 120px;
  }

  .about {
    -ms-grid-columns: 1fr 685px;
    grid-template-columns: 1fr 685px;
  }

  .footer .container {
    padding: var(--container-padding);
  }
}

@media (max-width:1439.98px) {
  :root {
    --container-padding: 0 80px;
  }

  .header__container {
    padding-right: 0;
  }

  .header__nav {
    position: fixed;
    z-index: 9;
    top: var(--header-height);
    left: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: var(--transition);
    transition: var(--transition);
  }

  .header__nav-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .nav {
    background: var(--color-bg);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 375px;
    padding: 30px;
    height: calc(100vh - var(--header-height));
  }

  .main-banner {
    height: 570px;
  }

  .main-banner__animation {
    display: none;
  }

  .main-banner__content h1 {
    font-size: 35px;
    margin-bottom: 15px;
  }

  .main-banner__content p {
    font-size: 18px;
    margin-bottom: 25px;
    max-width: 410px;
  }

  .main-banner__content a {
    width: 240px;
    font-size: 16px;
  }

  .services {
    padding: 55px 0;
  }

  .services__title {
    margin-bottom: 40px;
  }

  .services__list {
    gap: 40px 70px;
  }

  .about {
    -ms-grid-columns: 1fr 522px;
    grid-template-columns: 1fr 522px;
  }

  .clients {
    padding: 65px 0;
  }

  .clients__list {
    gap: 20px;
  }

  .footer__logo {
    width: 130px;
  }
}

@media (max-width:1023.98px) {
  :root {
    --container-padding: 0 40px;
    --header-height: 70px;
  }

  .header__logo {
    width: 101px;
  }

  .header__tel a {
    gap: 15px;
    font-size: 22px;
  }

  .header__contacts {
    font-size: 16px;
  }

  .main-banner {
    height: auto;
    background: #F2F4F8;
  }

  .main-banner__img {
    width: 100%;
    position: relative;
    height: 309px;
  }

  .main-banner__container {
    padding-top: 0;
    padding-bottom: 40px;
  }

  .about {
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
  }

  .about__left {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    height: 440px;
  }

  .about__right {
    padding: 80px 60px 125px 60px;
    background-position: right bottom -150px;
  }

  .about__txt {
    max-width: 570px;
  }

  .clients__list {
    gap: 15px;
  }

  .footer .container {
    padding: 0 60px;
  }

  .footer__grid {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 40px 20px;
    -ms-grid-rows: auto 40px auto;
    grid-template-areas: "logo addr" "menu contacts";
  }

  .footer__col:first-child {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .footer__col:nth-child(2) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  .footer__col:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }

  .footer__col:nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
}

@media (max-width:767.98px) {
  :root {
    --container-padding: 0 15px;
  }

  .h2,
  h2 {
    font-size: 33px;
  }

  .header__tel {
    display: none;
  }

  .header__contacts {
    display: none;
  }

  .header__nav-open span {
    --margin: 6px;
    width: 28px;
    height: 2px;
    margin-left: -14px;
  }

  .main-banner__content h1 {
    font-size: 32px;
    margin-bottom: 25px;
  }

  .services__title {
    margin-bottom: 25px;
  }

  .services__list {
    gap: 15px;
  }

  .about__left {
    height: 320px;
  }

  .about__right {
    padding: 60px 15px;
    background-image: none;
  }

  .clients__list {
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
  }

  .form {
    width: 100vw;
    height: 100vh;
  }

  .footer {
    padding: 50px 0;
  }

  .footer .container {
    padding: var(--container-padding);
  }

  .footer__grid {
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    -ms-grid-rows: auto 40px auto 40px auto 40px auto;
    grid-template-areas: "logo" "contacts" "addr" "menu";
  }

  .footer__col:first-child {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .footer__col:nth-child(2) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }

  .footer__col:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  .footer__col:nth-child(4) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
}