.clients {
  padding-top: 80px;
  padding-bottom: 65px;
  @media (max-width: 1439.98px) {
    padding: 65px 0;
  }

  &__title {
    margin-bottom: 35px;
  }

  &__list {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
    @media (max-width: 1439.98px) {
      gap: 20px;
    }
    @media (max-width: 1023.98px){
       gap: 15px;
    }
    @media (max-width: 767.98px){
       grid-template-columns: 100%;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F2F4F8;
  }
}