.nav{
  display: flex;
  gap: 45px;
  @media (max-width: 1439.98px){
    background: var(--color-bg);
    flex-direction: column;
    width: 375px;
    padding: 30px;
    height: calc(100vh - var(--header-height));
  }

  &__item{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    text-transform: uppercase;
    @include tr;

    &:hover{
      color: var(--color-link);
    }

    svg{
      path{
        stroke: currentColor;
      }
    }
  }
}