.services{
  padding: 70px 0;
  @media (max-width: 1439.98px){
    padding: 55px 0;
  }

  &__title{
    margin-bottom: 55px;
    @media (max-width: 1439.98px){
      margin-bottom: 40px;
    }
    @media (max-width: 767.98px){
      margin-bottom: 25px;
    }
  }

  &__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 65px;

    @media (max-width: 1919.98px){
        gap: 40px 120px;
    }
    @media (max-width: 1439.98px){
       gap: 40px 70px;
    }
    @media (max-width: 767.98px){
       gap: 15px;
    }
  }

  &__item{
    width: 306px;
  }
}

.service{
  display: flex;
  flex-direction: column;

  &__img{
    position: relative;
    z-index: 2;
    img{
      width: 100%;
      aspect-ratio: 307/275;
    }
  }

  &__bottom{
    background-color: #f2f4f8;
    margin-left: -25px;
    margin-right: -25px;
    margin-top: -54%;
    padding: calc(54% + 25px) 25px 35px;
    flex-grow: 1;
  }

  &__title{
    font-size: 21px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 10px;
  }


  &__txt{
    font-size: 13px;
    line-height: 140%;
  }

}
